{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
    
    <img id="home1" src="{% static 'images/purple.png' %}">

    <div class="left-corner">
        <a id="fp" href={% url 'tasks' %}>
            <img src="{% static 'images/back-button.png' %}">
        </a>
    </div>
    <div class="center">
        <h1>INFO</h1>
        <br>
        <br>
        <p>The TodoList web-app was developed by Siyabonga Masango.</p>
        <p>He built the website to help him and yourself to remember everything he/you did, and the things he/you still planning to do.</p>
        <p>In this website you can delete, create, update, and read the task</p>
        <p>if you forgot your password you can reset it anytime.</p>
        <br>
        <p>This website is user friendly, and it is secured. no one can access your tasks without yourself</p>
        <p>Please enjoy!</p>
    </div>

</body>
</html>