{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>

    <img id = "home1" src="{% static 'images/purple.png' %}">

    <div class="center">
        <form method = "post" action="">
            {% csrf_token %}  
    
            <h1>are you sure you want to delete "{{task}} task" from your list??</h1>
    
            <button id="yes" type = "submit">Yes</button>
            
            <button id="no"><a id="lno" href={% url 'tasks' %}>No</a></button>
        </form>
    </div>
    
</body>
</html>